<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Halaman 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  Click foto dulu baru upload
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let isifoto of fotoservice.dataFoto; index as position">
        <ion-img (click)="upload(isifoto)" [src]="isifoto.webviewPath"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="TambahFoto()">
    <ion-icon name="camera"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-button (click)="uploadfoto()">
Upload
</ion-button>
</ion-content>
