<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Halaman1 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

      <br>
      <ion-title style="text-align: center;" size="large">Nama :{{nama}}</ion-title>
      <br>
      <ion-title style="text-align: center;" size="large">Nrp : {{nrp}}</ion-title>
      <br>
      <ion-title style="text-align: center;" size="large">wmail : {{email}}</ion-title>
      <br>
      <ion-title style="text-align: center;" size="large">github : {{github}}</ion-title>
      <br>
      <ion-title style="text-align: center;" size="large">nomor telepon : {{nohp}}</ion-title>

    
 

</ion-content>
